[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
torchaudio = "*"
torch = "*"
scipy = "*"
librosa = "*"
pytorch-lightning = "*"
pandas = "*"
ipykernel = "*"
matplotlib = "*"
scikit-learn = "*"
pylint = "*"
tensorflow = "==1.15"

[requires]
python_version = "3.7"
